<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update Game</title>
<!--    <link rel="icon" type="image/png" href="../../static/game-solid-24.png"/>-->

</head>
<style>

.contact{
    row-gap: 0.5rem;
}
.contact span{
    display:flex;
    align-item: center;
}
.contact i{
    font-size: 20px;
    margin-right: 1rem;
}
.copyright{
   padding: 20px;
   text-align: center;
}

</style>
<link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css"  >
<body>
<link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css"  >
    <link rel="stylesheet" type="text/css" href="../static/index.css"/>
 <div class="play station store">
     <a href="/"><img src="../../static/mylogo12.jpg"></a>
    </div>
<form method="post" enctype="multipart/form-data">
        <dl>
            <p>
               <CENTER> <h2> POSTER UPDATE</h2></CENTER>

            </p>
        </dl>
    <br><br>
<center>
    <input type="file" name="filename" ><br><br>
        <label>GAME TITLE</label>
        <input type="text" name="Game_title" ><br><br>
         <center><label> DESCRIPTION </label></center>
    <textarea rows="2" cols="100" name="DESCRIPTION" class="note editorial"> </textarea><br><br>
        <label>Age</label>
        <input type="text" name="Age" ><br><br>
        <label>Price</label>
        <input type="text" name="price" ><br><br>
    <label>online_play</label>
        <input type="text" name="online_play"><br><br>
    <label>Multiplayer</label>
        <input type="text" name="multiplayer" ><br><br>
        <button type="submit" >  Update</button>
    </form>
</center>

<!-- Footer -->
    <section class="footer">
        <div class="footer-box">
            <h2>WORLD OF PS </h2>
            <div class="social">
                <a href="/"><i class='bx bxl-facebook' ></i></a>
                <a href="/"><i class='bx bxl-twitter' ></i></a>
                <a href="/"><i class='bx bxl-instagram' ></i></a>
                <a href="/"><i class='bx bxl-tiktok' ></i></a>
            </div>
        </div>
        <div class="footer-box">
            <h3>Support</h3>
            <li><a href="/">Product</a></li>
            <li><a href="/">Help & Support</a></li>
            <li><a href="/">Return policy</a></li>
            <li><a href="/">Terms Of use</a></li>
        </div>
        <div class="footer-box">
            <h3>Contact</h3>
            <div class="contact">
                <span><i class='bx bxs-map'></i>PLAY station online</span>
                <span><i class='bx bxs-phone'></i>+972-54-8389626</span>
                <span><i class='bx bxs-envelope'></i>play_station@gmail.com</span>
            </div>
        </div>
    </section>

</body>
</html>