
.headline{
font-family:"David";
  font-weight : 700;
  display:"inline";
  padding :18px;
  margin-top :  100px;
  margin-bottom :200px;
  text-align :left;
  font-size : 100px;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: center;
  color: #6384a2;
  text-align: lef;
}

body{
 margin: 0;
 padding: 0;
 height: 100vh;
 display: flex;
 justify-content: center;
 align-items: center;
}
.Cart-Container{
 width: 70%;
 height: 85%;
 border-radius: 20px;
 box-shadow: 0px 25px 40px #1687d933;
}

.Header{
 margin: auto;
 width: 90%;
 height: 15%;
 display: flex;
 justify-content: space-between;
 align-items: center;
}
.Heading{
 font-size: 20px;
 font-family: ‘Open Sans’;
 font-weight: 700;
 color: #2F3841;
}
.Action{
 font-size: 14px;
 font-family: ‘Open Sans’;
 font-weight: 600;
 color: #E44C4C;
 cursor: pointer;
 border-bottom: 1px solid #E44C4C;
}

	.my-button {
		background-color: #4CAF50; /* Green background */
		border: none; /* Remove border */
		color: white; /* White text */
		padding: 10px 20px; /* Add padding */
		text-align: center; /* Center text */
		text-decoration: none; /* Remove underline */
		display: inline-block; /* Display as inline block */
		font-size: 16px; /* Font size */
		border-radius: 5px; /* Add rounded corners */
		cursor: pointer; /* Add hover effect */
		transition: background-color 0.3s ease; /* Add transition */
	}

	/* Add hover effect */
	.my-button:hover {
		background-color: #3e8e41;
	}

/* Bordered form */
form {
  border: 3px solid #f1f1f1;
}

/* Full-width inputs */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}

/* Extra style for the cancel button (red) */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Center the avatar image inside this container */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

/* Avatar image */
img.avatar {
  width: 40%;
  border-radius: 50%;
}

/* Add padding to containers */
.container {
  padding: 16px;
}

/* The "Forgot password" text */
span.psw {
  float: right;
  padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
}